<div class="container border border-secondary">
  <% if @simulation_results.nil? or @simulation_results.empty? %>
    No Simulation results yet.
  <% else %>
    <h4 class="pt-3 pb-3">Simulation results will be shown on this tab.</h4>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered table-hover text-center" id="myTable">
          <thead>
          <tr style="color:#000000; background:rgb(237,239,242); text-align: center;">
            <th class="text-center align-middle p-1" style="width: 40%">System
              Type<br><i class="fa fa-fw fa-sort"></i>
            </th>
            <th class="text-center align-middle p-1" style="width: 15%">Electricity Consumption
              (kWh)<br><i class="fa fa-fw fa-sort"></i></th>
            <th class="text-center align-middle p-1" style="width: 15%">Natural Gas Consumption
              (kBTU)<br><i class="fa fa-fw fa-sort"></i></th>
            <th class="text-center align-middle p-1" style="width: 15%">Cost ($)<br><i class="fa fa-fw fa-sort"></i>
            </th>
            <th class="text-center align-middle p-1" style="width: 15%">Carbon Dioxide Emission
              (ton)<br><i class="fa fa-fw fa-sort"></i></th>
          </tr>
          </thead>
          <tbody>
          <% @v_results.each do |result| %>
            <tr>
              <td class="p-1">
                <a style="color:blue; text-decoration: underline" target="_blank"
                   href="https://www.google.com/search?q=<%= result['sys_type'] %>"><%= result['sys_type'] %></a>
              </td>
              <td class="p-1"><%= '%.2f' % result['annual electricity'] %></td>
              <td class="p-1"><%= '%.2f' % result['annual gas'] %></td>
              <td class="p-1">Place holder</td>
              <td class="p-1">Place holder</td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <p>* Annual results</p>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-md-12">
        <h3>simulation results charts showing here.</h3>
        <% if @weather_epw_name %>
          <div style="width: 100%">
            <canvas id="canvas"></canvas>
          </div>

          <script>
              var eew = <%=@system_types.inspect.html_safe %>;
              var barChartData = {
                  labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                  datasets: [{
                      label: 'Dataset 1',
                      backgroundColor: window.chartColors.red,
                      data: [
                          randomScalingFactor(),
                          randomScalingFactor(),
                          randomScalingFactor(),
                          randomScalingFactor(),
                          randomScalingFactor(),
                          randomScalingFactor(),
                          randomScalingFactor()
                      ]
                  }, {
                      label: 'Dataset 2',
                      backgroundColor: window.chartColors.blue,
                      data: [
                          randomScalingFactor(),
                          randomScalingFactor(),
                          randomScalingFactor(),
                          randomScalingFactor(),
                          randomScalingFactor(),
                          randomScalingFactor(),
                          randomScalingFactor()
                      ]
                  }, {
                      label: 'Dataset 3',
                      backgroundColor: window.chartColors.green,
                      data: [
                          randomScalingFactor(),
                          randomScalingFactor(),
                          randomScalingFactor(),
                          randomScalingFactor(),
                          randomScalingFactor(),
                          randomScalingFactor(),
                          randomScalingFactor()
                      ]
                  }]

              };
              window.onload = function () {
                  var ctx = document.getElementById('canvas').getContext('2d');
                  window.myBar = new Chart(ctx, {
                      type: 'bar',
                      data: barChartData,
                      options: {
                          title: {
                              display: true,
                              text: 'Chart.js Bar Chart - Stacked'
                          },
                          tooltips: {
                              mode: 'index',
                              intersect: false
                          },
                          responsive: true,
                          scales: {
                              xAxes: [{
                                  stacked: true,
                              }],
                              yAxes: [{
                                  stacked: true
                              }]
                          }
                      }
                  });
              };

              document.getElementById('randomizeData').addEventListener('click', function () {
                  barChartData.datasets.forEach(function (dataset) {
                      dataset.data = dataset.data.map(function () {
                          return randomScalingFactor();
                      });
                  });
                  window.myBar.update();
              });
          </script>

        <% end %>
      </div>
    </div>

  <% end %>

</div>