<div class="container pt-2">
  <%= form_with scope: :district_system_config, url: district_systems_path, local: true, multipart: true do |form| %>

    <!--    <div class="row pl-3">-->
    <!--      <p>-->
    <!--        <%#= form.label :name, 'Configuration name' %><br>-->
    <%#= form.text_field :name, autofocus: true, placeholder: "System name" %>
    <%#= form.text_field :name, autofocus: true, :required => 'required', placeholder: "System name" %>
    <!--      </p>-->
    <!--    </div>-->
    <h4 class="pt-3 pb-3">Choose the districty system type and upload an epw file for simulations.</h4>
    <h5>1. Choose at least one of the following system types</h5>
    <div class="row pl-5 pb-3">
      <div class="col-6"><b>System Type</b></div>
      <div class="col-6"><b>Incremental Cost ($)</b></div>
    </div>

    <% @system_types.each_with_index do |system_type, index| %>
      <div class="row pl-5">
        <div class="col-6">
          <%= form.check_box "system_type_#{index + 1}", disabled: system_type[1], checked: system_type[2] %>&nbsp;&nbsp;
          <a data-toggle="collapse" href='#<%= (system_type[3]) %>' aria-expanded="false">
            <%= form.label ":system_type_#{index + 1}", system_type[0], data: {"toggle-completed" => ""} %>
          </a>
        </div>
        <div class="col-6">
          <%= form.number_field "incremental_cost_system_type_#{index + 1}" %>
        </div>
      </div>
      <div class="row pl-5">
        <div class="col-10">
          <div class="collapse pl-3" id='<%= (system_type[3]) %>'>
            <div class="card card-body" style="background-color: cadetblue">
              More details coming soon...
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <h5>2. Choose the weather file (epw) for simulation.</h5>
    <div class="row pl-5">
      <%= file_field_tag 'weather_epw' %>
      <% if @weather_epw_name %>
        <p>Uploaded filename: <%= @weather_epw_name %></p>
      <% end %>
    </div>

    <div class="row pl-5 pt-5">
      <p><%= form.submit 'Simulate' %></p>
    </div>
  <% end %>
</div>
<%#= link_to 'Simulate', '/district_systems/simulate' %>