<div class="container pt-2">
  <%= form_with scope: :district_system_config, url: district_systems_path, local: true, multipart: true do |form| %>

    <!--    <div class="row pl-3">-->
    <!--      <p>-->
    <!--        <%#= form.label :name, 'Configuration name' %><br>-->
    <%#= form.text_field :name, autofocus: true, placeholder: "System name" %>
    <%#= form.text_field :name, autofocus: true, :required => 'required', placeholder: "System name" %>
    <!--      </p>-->
    <!--    </div>-->
    <h4 class="pt-3 pb-5">Choose the district system type and upload an epw file for simulations.</h4>

    <h5>1. Select system types</h5>
    <h6 class="pl-3">Select at least one system type, click on the system type label to enter more details</h6>
    <div class="row pl-5 pb-3">
      <div class="col-6"><b>System Type(s)</b></div>
      <div class="col-6"><b>Incremental Cost ($)</b></div>
    </div>

    <% @system_types.each_with_index do |system_type, index| %>
      <div class="row pl-5">
        <div class="col-6">
          <%= form.check_box "system_type_#{index + 1}", disabled: system_type[1], checked: system_type[2] %>&nbsp;&nbsp;
          <a data-toggle="collapse" href='#<%= (system_type[3]) %>' aria-expanded="false">
            <%= form.label ":system_type_#{index + 1}", system_type[0], data: {"toggle-completed" => ""} %>
          </a>
        </div>
        <div class="col-6">
          <%= form.number_field "incremental_cost_system_type_#{index + 1}", :value => 0, class: 'text-center' %>
        </div>
      </div>
      <div class="row pl-5">
        <div class="col-9">
          <div class="collapse pl-3 pt-3 pb-3" id='<%= (system_type[3]) %>'>

            <div class="card card-body" style="background-color: #dcdcdc">
              <!--TODO:Conditionally show system options-->
              <% if system_type[3] == 'sys1' %>
                <div class="row">
                  <p class="pl-3 pr-3 pb-1">This system type consists of traditional water-cooled chiller and boilers.
                    You can specify the performance indices (nominal COP for chillers and overall efficiency for
                    boilers) and numbers of different plant equipment. The system is automatically sized. </p>
                </div>
                <div class="row">
                  <div class="col-2"><h5>Chillers</h5></div>
                  <div class="col-10">
                    <table>
                      <thead>
                      <tr>
                        <th class="text-center align-middle p-1" style="width:145px">Compressor Type</th>
                        <th class="text-center align-middle p-1" style="width:60px">Nominal COP</th>
                        <th class="text-center align-middle p-1" style="width:60px">Number of Chillers</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td class="text-center align-middle pl-1">Reciprocating</td>
                        <td class="text-center align-middle pl-1"><%= form.number_field "reciprocating_chiller_cop_type_#{index + 1}", step: :any, :value => 3.5, class: 'text-center' %></td>
                        <td class="text-center align-middle pl-1"><%= form.number_field "reciprocating_chiller_number_type_#{index + 1}", step: 1, :value => 0, class: 'text-center' %></td>
                      </tr>
                      <tr>
                        <td class="text-center align-middle pl-1">Screw</td>
                        <td class="text-center align-middle pl-1"><%= form.number_field "screw_chiller_cop_type_#{index + 1}", step: :any, :value => 5, class: 'text-center' %></td>
                        <td class="text-center align-middle pl-1"><%= form.number_field "screw_chiller_number_type_#{index + 1}", step: 1, :value => 0, class: 'text-center' %></td>
                      </tr>
                      <tr>
                        <td class="text-center align-middle pl-1">Centrifugal</td>
                        <td class="text-center align-middle pl-1"><%= form.number_field "centrifugal_chiller_cop_type_#{index + 1}", step: :any, :value => 6.5, class: 'text-center' %></td>
                        <td class="text-center align-middle pl-1"><%= form.number_field "centrifugal_chiller_number_type_#{index + 1}", step: 1, :value => 3, class: 'text-center' %></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-2"><h5>Boilers</h5></div>
                  <div class="col-10">
                    <table>
                      <thead>
                      <tr>
                        <th class="text-center align-middle p-1" style="width:145px">Fuel Type</th>
                        <th class="text-center align-middle p-1" style="width:60px">Boiler Efficiency</th>
                        <th class="text-center align-middle p-1" style="width:60px">Number of Boilers</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td class="text-center align-middle pl-1">Electricity</td>
                        <td class="text-center align-middle pl-1"><%= form.number_field "electric_boiler_efficiency_type_#{index + 1}", step: :any, :value => 0.9, class: 'text-center' %></td>
                        <td class="text-center align-middle pl-1"><%= form.number_field "electric_boiler_number_type_#{index + 1}", step: 1, :value => 0, class: 'text-center' %></td>
                      </tr>
                      <tr>
                        <td class="text-center align-middle pl-1">Natural Gas</td>
                        <td class="text-center align-middle pl-1"><%= form.number_field "gas_boiler_efficiency_type_#{index + 1}", step: :any, :value => 0.8, class: 'text-center' %></td>
                        <td class="text-center align-middle pl-1"><%= form.number_field "gas_boiler_number_type_#{index + 1}", step: 1, :value => 3, class: 'text-center' %></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

              <% elsif system_type[3] == 'sys2' %>
                <p>Options for <b><%= system_type[0] %></b> is under development.</p>
              <% elsif system_type[3] == 'sys3' %>
                <div class="row">
                  <p class="pl-3 pr-3 pb-1">This system type consists of central chillers & heat-pumps (chiller-heater)
                    modules. Each individual chiller-heater module can switch between cooling and heating modes. When
                    there are simultaneous heating and cooling demands, the heat from the condenser side of chillers are
                    recovered to meet the heating demand. You can specify the cooling condition COP of the
                    chiller-heater module, and the number of modules. The system is automatically sized. </p>
                </div>
                <div class="row">
                  <div class="col-12">
                    <table>
                      <tr>
                        <th class="text-center align-middle p-1">Number of Modules</th>
                        <td class="text-center align-middle pl-1"><%= form.number_field "chiller_heater_number_type_#{index + 1}", step: 1, :value => 3, class: 'text-center' %></td>
                        <th class="text-center align-middle p-1">Nominal COP</th>
                        <td class="text-center align-middle pl-1"><%= form.number_field "chiller_heater_cop_type_#{index + 1}", step: :any, :value => 3.5, class: 'text-center' %></td>
                      </tr>
                    </table>
                  </div>
                </div>

              <% elsif system_type[3] == 'sys4' %>
                <div class="row">
                  <p class="pl-3 pr-3 pb-1">Below are inputs for the central ground source heat pump system. The ground
                    heat exchanger consists of vertical boreholes. You can specify the nominal cooling and heating COP,
                    number of boreholes, and soil thermal conductivity. The heating and cooling capacity of the heat
                    pump are determined by the user uploaded heating and cooling demands. The design flow rate of the
                    ground heat exchanger is also determined by the heating and cooling demands. </p>
                </div>
                <div class="row">
                  <div class="col-12">
                    <table>
                      <tr>
                        <th class="text-right pr-2">Heating COP</th>
                        <td class="text-center align-middle pl-1"><%= form.number_field "heating_cop_type_#{index + 1}", step: 0.1, :value => 3, class: 'text-center' %></td>
                      </tr>
                      <tr>
                        <th class="text-right pr-2">Cooling COP</th>
                        <td class="text-center align-middle pl-1"><%= form.number_field "cooling_cop_type_#{index + 1}", step: 0.1, :value => 4, class: 'text-center' %></td>
                      </tr>
                      <tr>
                        <th class="text-right pr-2">Number of Boreholes</th>
                        <td class="text-center align-middle pl-1"><%= form.number_field "n_borehole_type_#{index + 1}", step: 1, :value => 200, class: 'text-center' %></td>
                      </tr>
                      <tr>
                        <th class="text-right pr-2">Soil Thermal Conductivity [W/(m*K)]</th>
                        <td class="text-center align-middle pl-1"><%= form.number_field "soil_k_number_type_#{index + 1}", step: :any, :value => 1.8, class: 'text-center' %></td>
                      </tr>
                    </table>
                  </div>
                </div>

              <% elsif system_type[3] == 'sys5' %>
                <p>Options for <b><%= system_type[0] %></b> is under development.</p>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    <% end %>
    <hr>
    <h5>2. Choose weather file</h5>
    <h6 class="pl-3">Upload an epw file for simulation</h6>
    <div class="row pl-5">
      <%= file_field_tag 'weather_epw' %>
      <% if @weather_epw_name %>
        <p>Uploaded filename: <%= @weather_epw_name %></p>
      <% end %>
    </div>

    <div class="row pl-5 pt-5">
      <p><%= form.submit 'Simulate' %></p>
    </div>
  <% end %>
</div>
<%#= link_to 'Simulate', '/district_systems/simulate' %>