<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-hover text-center" id="myTable">
      <!--    <table class="table table-bordered table-hover text-center">-->
      <thead>
      <tr style="color:#000000; background:rgb(237,239,242); text-align: center;">
        <th class="text-center align-middle p-1" style="width: 40%">
          System Type<br><i class="fa fa-fw fa-sort"></i></th>
        <th class="text-center align-middle p-1" style="width: 10%">
          Electricity Consumption (kWh)<br><i class="fa fa-fw fa-sort"></i></th>
        <th class="text-center align-middle p-1" style="width: 10%">
          Natural Gas Consumption (MMBTU)<br><i class="fa fa-fw fa-sort"></i></th>
        <th class="text-center align-middle p-1" style="width: 10%">
          Electricity Savings (kWh)<br><i class="fa fa-fw fa-sort"></i></th>
        <th class="text-center align-middle p-1" style="width: 10%">
          Natural Gas Savings (MMBTU)<br><i class="fa fa-fw fa-sort"></i></th>
        <th class="text-center align-middle p-1" style="width: 10%">
          Peak Electricity Reduction (kWh)<br><i class="fa fa-fw fa-sort"></i></th>
        <th class="text-center align-middle p-1" style="width: 10%">
          Utility Cost ($)<br><i class="fa fa-fw fa-sort"></i>
        </th>
        <th class="text-center align-middle p-1" style="width: 10%">
          Utility Cost Savings ($)<br><i class="fa fa-fw fa-sort"></i>
        <th class="text-center align-middle p-1" style="width: 10%">
          Utility Cost ($)<br><i class="fa fa-fw fa-sort"></i>
        </th>
        <th class="text-center align-middle p-1" style="width: 10%">
          Incremental Cost ($)<br><i class="fa fa-fw fa-sort"></i>
        </th>
        <th class="text-center align-middle p-1" style="width: 10%">
          Simple Payback Period (yr)<br><i class="fa fa-fw fa-sort"></i>
        </th>
        <th class="text-center align-middle p-1" style="width: 10%">
          Carbon Dioxide Emission (ton)<i class="fa fa-fw fa-sort"></i>
        </th>
      </tr>
      </thead>
      <tbody>
      <% v_results.each do |result| %>
        <tr>
          <td class="p-1">
            <% if result['sys_type'] == 'Baseline' %>
              <%= result['sys_type'] %>
            <% else %>
              <a style="color:blue; text-decoration: underline" target="_blank"
                 href="https://www.google.com/search?q=<%= result['sys_type'] %>"><%= result['sys_type'] %></a>
            <% end %>
          </td>
          <td class="p-1"><%= '%.0f' % result['annual electricity'] %></td>
          <td class="p-1"><%= '%.0f' % result['annual gas'] %></td>
          <% unless result['annual electricity saving'].nil? %>
            <td class="p-1"><%= '%.0f' % result['annual electricity saving'] %></td>
          <% end %>

          <% unless result['annual electricity saving'].nil? %>
            <td class="p-1"><%= '%.0f' % result['annual gas saving'] %></td>
          <% end %>

          <td class="p-1">TBD</td>
          <td class="p-1">Place holder</td>
          <td class="p-1">Place holder</td>
          <td class="p-1">Place holder</td>
          <td class="p-1">Place holder</td>
          <td class="p-1">Place holder</td>
          <td class="p-1">Place holder</td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <p>* Annual results</p>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#myTable").tablesorter();
    });
</script>