<div class="container border border-primary pt-2">
  <!--File upload form-->
  <%= form_with scope: :load_profile_csv, url: district_systems_path, multipart: true do |form| %>
    <h4 class="pt-3 pb-3">Upload the district heating and cooling demand profile CSV.</h4>
    <div class="row pl-5">
      <!-- For model oriented scenarios-->
      <%#= form.file_field :loadprofile %>
      <!-- For model-free scenarios-->
      <%= file_field_tag 'load_profile_csv', :required => true %>
      <!-- <p><%#= form.submit 'Upload', onclick: 'uploadLoadsProfile();' %></p>-->
      <p><%= form.submit 'Upload' %></p>
    </div>
  <% end %>

  <div id="loadshape_viz_div">
    <!--charts-->
    <% unless @hash_ts_data.nil? %>
      <%= render 'upload_charts', hash_ts_data: @hash_ts_data %>
    <% end %>
    <!--key stats table-->
    <% unless @hash_key_stats.nil? %>
      <%= render 'upload_key_stats_table', hash_key_stats: @hash_key_stats %>
    <% end %>
  </div>


</div>
<br><br>
