<h1>This is the index page of the district systems.</h1>

<%= form_with scope: :district_system, url: district_systems_path, local: true do |form| %>
  <h3>Some place-holders for district system creation</h3>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <%= form.label :system_type_1 %>
  <%= form.check_box :system_type_1 %>

  <%= form.label :system_type_2 %>
  <%= form.check_box :system_type_2 %>

  <%= form.label :system_type_3 %>
  <%= form.check_box :system_type_3 %>

  <p>
    <%= form.submit %>
  </p>

<% end %>

<p>
  <% if @simulation_results.nil? %>
    No Simulation results yet.
  <% else %>
    Show simulation results.
  <% end %>
</p>

<%#= link_to 'Simulate', '/district_systems/simulate' %>